.error-message{
    color: red;
}

.error{
    color: red;
}

.error .form-control{
    border-color: red;
}

.multiCheckbox .checkbox{
    display: inline-block;
}

.multiCheckbox label{
    padding-right: 30px;
}


