.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/*Form*/
.error-message{
    color: red;
}

.error{
    color: red;
}

.error .form-control{
    border-color: red;
}

/*Linhas de checkbox para configurações*/
.multiCheckbox .checkbox{
    display: inline-block;
}

.multiCheckbox label{
    padding-right: 30px;
}
/*Linhas de checkbox para configurações*/

/*Campos Data tipo dd/MM/yyyy*/
div.date{
    height: 91px;
    margin-bottom: 16px;
}

div.date label{
    float: left;
    width: 100%;
}

div.date select{
    float: left;
    width: 100px;
}

div.date select[name*="day"]{
    width: 80px;
}

div.date select[name*="month"]{
    width: 150px;
}

div.date select[name*="year"]{
    width: 100px;
}
/*Campos Data tipo dd/MM/yyyy*/


.table th a{
    float: left;
}

.table th div.form-group{
    margin-bottom: 0px;
}    


.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}   

.navbar-right .dropdown-menu{
    left: auto;
    right: 0;
}


